<!DOCTYPE html>
{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div id="breadcrumbs">
		<div class="container">
			<ul>
				<li><a href="{% url 'store' %}">Home</a></li>
				<li>Cart</li>
			</ul>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->
	<div id="body">
			<div class="container">
			<div id="content" class="full">
				<div class="cart-table">
					<table>
						<tr>
							<th class="items">Items</th>
							<th class="price">Price</th>
							<th class="qnt">Quantity</th>
							<th class="total">Total</th>
							<th class="delete">Remove</th>
						</tr>
					{% for item in items %}
						<tr>
							<td class="items">
								<div class="image">
								<img style = "width: 200px;" src="{{item.product.imageURL}}" alt="">
								</div>
								<h3><a href="{% url 'view' item.product.pk %}">{{ item.product.lot_no }}</a></h3>
								<p>{{ item.product.description }}</p>
							</td>
							<td class="price">${{item.product.price}}</td>
							<td class="qnt">{{item.quantity}}</td>
							<td class="total">${{item.get_total}}</td>
							<td class="delete"><a href = "{% url 'remove' item.id %}" class="ico-del"></a></td>
						</tr>
					{% endfor %}
					</table>
				</div>
			</div>
			<!-- / content -->
			</div>
		<!-- / container -->
	</div>
	<!-- / body -->				
							


		

	<div class="total-count">
		<h3>Total to pay: ${{order.get_cart_total}}</h3>
		<a href="{% url 'checkout' %}" style="margin:5px;" class="btn-grey">Finalize and Place Order</a>
	</div>
{% endblock content %}