<html>
<head>

</head>
<body>
	{% load static %}

<table width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
	<tbody>
		<tr><td style="padding:10px">
			<table>
				<tbody>
					<tr>
						<td style="white-space:nowrap;font-family:'trebuchet ms','helvetica',sans-serif;font-size:13px" valign="top" align="left">
							<table>
								<tbody>
									<tr>
										<td valign="top" align="left">Company Name</td>
										<td valign="top" align="left">
											: {{ user.customer.company_name }}</td></tr><tr><td valign="top" align="left">Client Name
										</td>
										<td valign="top" align="left">
											: {{ user.customer.name }}
										</td>
									</tr>
									<tr>
										<td valign="top" align="left">Seller Name</td>
										<td valign="top" align="left">: Kevin</td>
									</tr>
									<tr>
										<td valign="top" align="left">Email ID</td>
										<td valign="top" align="left">
											:&nbsp;<a href="mailto:kevin@donerdiamonds.com" rel="noreferrer" target="_blank">kevin@donerdiamonds.com</a></td>
									</tr>
									<tr>
										<td valign="top" align="left">Message</td>
										<td valign="top" align="left">:</td>
									</tr>
									<tr>
										<td valign="top" align="left">Date</td>
										<td valign="top" align="left">: {{datetime}}</td>
									</tr>
									<tr>
										<td valign="top" align="left">Order By</td>
										<td valign="top" align="left">: {{ user.username }}</td>
									</tr>
									<tr>
										<td valign="top" align="left">Order No.</td>
										<td valign="top" align="left">: {{ order.id }}</td>
									</tr>
								</tbody>
							</table>
							<br>
						</td>
					</tr>
					<tr>
						<td style="white-space:nowrap;font-family:'trebuchet ms','helvetica',sans-serif;font-size:13px;padding-bottom:5px;padding-top:5px;padding-right:10px" valign="top" align="left">
							<table cellspacing="0" cellpadding="3" border="1">
								<thead>
									<tr>
										<td colspan="31" style="font-size:9pt" valign="middle" align="center">Description of Goods</td>
									</tr>
									<tr>
										<th style="font-size:9pt" valign="middle">Sr No.</th>
										<th style="font-size:9pt" valign="middle">Quantity</th>
										<th style="font-size:9pt" valign="middle">Stock No.</th>
										<th style="font-size:9pt" valign="middle">Shape</th>
										<th style="font-size:9pt" valign="middle">Carat</th>
										<th style="font-size:9pt" valign="middle">Clarity</th>
										<th style="font-size:9pt" valign="middle">Color</th>
										<th style="font-size:9pt" valign="middle">Rap%</th>
										<th style="font-size:9pt" valign="middle">Pr/Ct</th>
										<th style="font-size:9pt" valign="middle">Amount</th>
										<th style="font-size:9pt" valign="middle">Cut</th>
										<th style="font-size:9pt" valign="middle">Polish</th>
										<th style="font-size:9pt" valign="middle">Symmetry</th>
										<th style="font-size:9pt" valign="middle">Flouroscence</th>
										<th style="font-size:9pt" valign="middle">Measurement</th>
										<th style="font-size:9pt" valign="middle">Lab</th>
										<th style="font-size:9pt" valign="middle">Cert No</th>
										<th style="font-size:9pt" valign="middle">Dept</th>
										<th style="font-size:9pt" valign="middle">Location</th>
										<th style="font-size:9pt" valign="middle">ShowId</th>
									</tr>
								</thead>
								<tbody>
									<tr></tr>
									{% for orderitem in order.orderitem_set.all %}
									<tr>
										<td style="font-size:9pt" valign="middle" align="center">{{ forloop.counter }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.quantity }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.lot_no }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.get_shape_display }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.carat }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.get_clarity_display }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.get_color_display }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.rap }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.price_ct }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.price }}  {{ orderitem.quantity }} </td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.cut }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.pol }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.sym }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.fl }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.measurement }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.lab }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.certno }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.dept }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.dept }}</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ orderitem.product.dept }}</td>
										<td style="font-size:9pt" valign="middle" align="center"></td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="2" style="font-size:9pt" valign="middle" align="left"></td>
										<td style="font-size:9pt" valign="middle" align="right">Total Carats</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ totalcarat }}</td>
										<td colspan="4" style="font-size:9pt" valign="middle" align="right"></td>
										<td colspan="2" style="font-size:9pt" valign="middle" align="right">Shipping Charges</td>
										<td style="font-size:9pt" valign="middle" align="center"> {{shipping_charges}} </td>
										<td colspan="20" style="font-size:9pt" valign="middle" align="right"></td>
									</tr>
									<tr>
										<td colspan="8" style="font-size:9pt" valign="middle" align="left"></td>
										<td colspan="2" style="font-size:9pt" valign="middle" align="right">Grand Total</td>
										<td style="font-size:9pt" valign="middle" align="center">{{ grandtotal }}</td>
										<td colspan="20" style="font-size:9pt" valign="middle" align="right"></td>
									</tr>
								</tfoot>
							</table>
						</td>
					</tr>
					<tr>
						<td style="white-space:nowrap;font-family:'trebuchet ms','helvetica',sans-serif;font-size:13px;padding-top:5px" valign="top" align="left">
							Thank you for placing the order through <a href="www.donerdiamonds.com"> Doner Diamonds</a>&nbsp;Website.
						</td>
					</tr>
					<tr>
						<td style="white-space:nowrap;font-family:'trebuchet ms','helvetica',sans-serif;font-style:italic;font-size:13px;padding-top:5px" valign="top" align="left">
							Please click here for T&amp;C.
						</td>
					</tr>
					<tr>
						<td style="white-space:nowrap;font-family:'trebuchet ms','helvetica',sans-serif;font-size:13px;padding-bottom:5px;padding-top:10px" valign="top" align="left">
							Yours Sincerely,<br>DD Team
						</td>
					</tr>
					
				</tbody>
			</table>
		</td>
	</tr>
</tbody>
</table>

</body>
</html>
