{% load static %}
<html>

<head>
	<meta charset="utf-8">
	<title>Doner Diamonds</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<link rel="stylesheet" media="all" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" media="all" href="{% static 'css/style2.css' %}">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script type="text/javascript">
		var user = '{{request.user}}'

		function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

		function getCookie(name) {
		    // Split cookie string and get all individual name=value pairs in an array
		    var cookieArr = document.cookie.split(";");

		    // Loop through the array elements
		    for(var i = 0; i < cookieArr.length; i++) {
		        var cookiePair = cookieArr[i].split("=");

		        /* Removing whitespace at the beginning of the cookie name
		        and compare it with the given string */
		        if(name == cookiePair[0].trim()) {
		            // Decode the cookie value and return
		            return decodeURIComponent(cookiePair[1]);
		        }
		    }

		    // Return null if not found
		    return null;
		}
		var cart = JSON.parse(getCookie('cart'))

		if (cart == undefined){
			cart = {}
			console.log('Cart Created!', cart)
			document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
		}
		console.log('Cart:', cart)
	
	</script>

</head>

<body>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

	<header id="header" style="background-color:#222224">
		<div class="container">
			<a href="{% url 'store' %}" id="logo" title="Doner Diamonds" style = "background-repeat: no-repeat;
  	background-size: cover;">Doner Diamonds</a>
			<div class="right-links">
				<ul>
					<li><a href="{% url 'cart' %}"><span class="ico-products"></span>{{cartItems}}</a></li>
					<li><span class="ico-account"></span>   
					{% if request.user.is_authenticated %}
					<a  class="nav">Welcome, {{request.user}}</a></li>
					<li><a href="{% url 'logout' %}?next=/"><span class="ico-signout"></span>Sign out</a></li>
					{% else %}
					<a href="{% url 'login' %}?" class="ico-account">Login</a></li>
					{% endif %}
					
				</ul>
			</div>
		</div>
		<!-- / container -->
	</header>
	<!-- / header -->

	<nav id="menu"  style="background-color:#222224">
		<div class="container">
			<div class="trigger"></div>
			<ul>
				<li><a href="{% url 'store' %}">Home</a></li>
				<li><a href="{% url 'search' %}">Search Diamonds</a></li>
				<li><a href="{% url 'about' %}">About Us</a></li>
			</ul>
		</div>
		<!-- / container -->
	</nav>
	<!-- / navigation -->
            {% block content %}
            {% endblock content %}


	<footer id="footer">
		<div class="container">
			<div class="cols">
				
				<div class="col ">
					<h3>Social media</h3>
					<ul class="social">
						<li><a href="https://www.facebook.com/Kenzodiamonds-106474004416008/?notif_id=1590567465751219&notif_t=page_invite_accept&ref=notif"><i class="fa fa-facebook fa-2x" style="margin-right:15px;" aria-hidden="true"></i>Facebook</a></li>
						<li><a href="#"><i class="fa fa-twitter fa-2x" style="margin-right:2px;" aria-hidden="true"></i>  Twitter</a></li>
						<li><a href="https://instagram.com/doner_diamonds"><i class="fa fa-instagram fa-2x" style="margin-right: 5px;" aria-hidden="true"></i>  Instagram</a></li>
						<li><a href="#"><i class="fa fa-pinterest-p fa-2x" style="margin-right: 9px;" aria-hidden="true"></i>
							Pinterest</a></li>
					</ul>
				</div>
				<div class="col">
				<h3> Directions <h3>
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.865816382681!2d-118.25562868519887!3d34.04731298060729!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c7b5268cc5e3%3A0xb3649786f93ff6a2!2sDoner%20Diamonds%20Corporation!5e0!3m2!1sen!2sin!4v1592123344012!5m2!1sen!2sin" width="150" height="150" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
				</div>
				<div class="col contact">
					<h3>Contact us</h3>
					<p>Doner Diamonds<br>607 S. Hill St. Ste. 206<br>Los Angeles, CA 90014</p>
					<p><span class="ico ico-em"></span><a href="mailto:kevin@donerdiamonds.com">kevin@donerdiamonds.com</a></p>
					<p><span class="ico ico-ph"></span><a href="tel:+1 213-488-0372">+1 213-488-0372</a></p>
				</div>
				<div class="col newsletter">
					<h3>Join our newsletter</h3>
					<p>Stay updated with all the exciting offers coming up by joining here</p>
					<form action="#">
						<input type="text" placeholder="Your email address...">
						<button type="submit"></button>
					</form>
				</div>
			</div>
			<p class="copy text-center">Copyright&copy 2020 Doner Diamonds. All rights reserved.</p>
		</div>
		<!-- / container -->
	</footer>
	<!-- / footer -->


	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script>window.jQuery || document.write("<script src='js/jquery-1.11.1.min.js'>\x3C/script>")</script>
	<script src="{% static 'js/plugins.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

	<script type="text/javascript">
		var checkboxes = document.querySelectorAll("input[type = 'checkbox']");
		for (var i = 0; i < checkboxes.length; i++){
			checkboxes[i].style.left = 0;
		}
	</script>
	<script type="text/javascript">
		$("#menu .trigger").click(function() {
		$(this).toggleClass("active").next().toggleClass("active")
	});

	</script>
	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script>
	$(document).ready(function() {
		$('#dataTable').DataTable({
			"scrollX":true,
			"bPaginate":true
		});
	} );
	</script>
	
	{% block javascript %}
	{% endblock %}
</body>
</html>