{% extends 'store/main.html' %}
{% load widget_tweaks %}
{% load static %}
{% block content %}
<style>
	.image-checkbox
	{
		cursor: pointer;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 2px solid rgb(179, 177, 177);
		border-radius: 10px;
		outline: 0;
		margin-right: 5px;
	}
	.image-checkbox:hover{
		border-color: skyblue;
		border-radius: 10px;
		background-color: skyblue;
	}

		.image-checkbox input[type="checkbox"]
		{
			display: none;
		}

	.image-checkbox-checked
	{
		background-color: skyblue;
		border-radius: 10px;
	}
	.btns{
		margin-right: 5px;
		margin-bottom: 5px;
	}
	.overlay-shape {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: .5s ease;
		background-color: #008CBA;
	}
	.diamond-shape:hover .overlay-shape{
		opacity: 0.6;
	}
	.button-filter{
		border: 1px solid lightgray;
	}
	.button-filter:hover{
		background-color: skyblue;
	}
	.button-filter-checked{
		background-color: skyblue;
	}
</style>
	<div id="breadcrumbs">
		<div class="container">
			<ul>
				<li><a href="{% url 'store' %}">Home</a></li>
				<li>Product results</li>
			</ul>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->

	<div id="body">
			<div class="products-wrap container">
				<form method="GET" id = "filter_form">
					{{ filter.form.shape.label_tag }}

					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.shape %}
							<label class="image-checkbox ">
								<img class="img-responsive" src = "{% static choice.choice_label %}" style = "height:  50px;">
								{{ choice.tag }}
								<div class="mask ">
								</div>
								
							</label> 
							<br>
						{% endfor %}
					</div>
					{{ filter.form.color.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.color %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter ">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
						{% endfor %}
					</div>
					{{ filter.form.clarity.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.clarity %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
						{% endfor %}
					</div>

					{{ filter.form.lab.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.lab %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
					{% endfor %}
					</div>
					{{ filter.form.fl.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.fl %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
					{% endfor %}
					</div>
					{{ filter.form.cut.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.cut %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
					{% endfor %}
					</div>
					{{ filter.form.symmetry.label_tag }}
					<div class="row" style="padding-left:20px ;">
						{% for choice in filter.form.symmetry %}
						<div class="btn-group-toggle btns" data-toggle="buttons">
							<label class="btn btn-light button-filter">
								{{ choice.tag }} 
								{{ choice.choice_label }}
								</label>
						</div>
					{% endfor %}
					</div>

					<br>
					<h4>Price Range:</h4>

					<div class="form-group row" style="padding-left:20px ;">
						<div class="col-sm-2">{{ filter.form.price_gt.label_tag }}</div>
						<div class="col-sm-3">{% render_field filter.form.price_gt class="form-control" %}</div>
						<div class="col-sm-2">{{ filter.form.price_lt.label_tag }}</div>
						<div class="col-sm-3">{% render_field filter.form.price_lt class="form-control" %}</div>
					</div>
					<br>
					<h4>Discount Range:</h4>
					<div class="form-group row" style="padding-left:20px ;">
						<div class="col-sm-2">{{ filter.form.diss_gt.label_tag }}</div>
						<div class="col-sm-3">{% render_field filter.form.diss_gt class="form-control" %}</div>
						<div class="col-sm-2">{{ filter.form.diss_lt.label_tag }}</div>
						<div class="col-sm-3">{% render_field filter.form.diss_lt class="form-control" %}</div>
					</div>
					<br>			
					<h4>Size Range:</h4>
					<div class="form-group row" style="padding-left:20px ;">
						<div class="col-sm-2">{{ filter.form.carat_gt.label_tag }}</div>
						<div class="col-sm-3 limit">{% render_field filter.form.carat_gt class="form-control" %}</div>
						<div class="col-sm-2">{{ filter.form.carat_lt.label_tag }}</div>
						<div class="col-sm-3 limit">{% render_field filter.form.carat_lt class="form-control" %}</div>
					</div>
					
					<button type = "submit" class="btn btn-primary">Search</button>
				</form>
			</div>
			<br>
			<div class="container">
				<div class="table-responsive">
					<table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0" style="font-size: 12px;">
						<thead>
						<tr>
							<th>Lot_no</th>
							<th>Shape</th>
							<th>Carat</th>
							<th>Stone</th>
							<th>Color</th>
							<th>Clarity</th>
							<th>Measurement</th>
							<th>Dept</th>
							<th>Tbl</th>
							<th>Cut</th>
							<th>Pol</th>
							<th>Sym</th>
							<th>Fl</th>
							<th>Cul</th>
							<th>Girdle</th>
							<th>Lab</th>
							<th>Rap</th>
							<th>Price</th>
							<th>View</th>
							<th>Add to Cart</th>
						</tr>
						</thead>
						
						<tbody>
						{% for product in products %}
						<tr>
							<td>{{product.lot_no}}</td>
							<td>{{product.get_pseudo_shape_display }}</td>
							<td>{{product.carat}}</td>
							<td>{{product.stone}}</td>
							<td>{{product.color}}</td>
							<td>{{product.clarity}}</td>
							<td>{{product.measurement }}</td>
							<td>{{product.dept }}</td>
							<td>{{product.tbl }}</td>
							<td>{{product.cut }}</td>
							<td>{{product.pol }}</td>
							<td>{{product.sym }}</td>
							<td>{{product.fl }}</td>
							<td>{{product.cul }}</td>
							<td>{{product.girdle }}</td>
							<td>{{product.lab }}</td>
							<td>{{product.rap }}</td>
							<td>{{product.price }}</td>
							<td>
							<a href = "{% url 'view' product.pk %}">View</a>
							</td>
							<td>
							<a href = "{% url 'add' product.pk %}">Add to cart</a>
							</td>
						</tr>
					{% endfor %}
					
						</tbody> 
					</table>
				</div>
			</div>		
	</div>
	<!-- / body -->
{% endblock content %}


<div class="widget">
<h3>Products per page:</h3>
<fieldset>
	<input checked type="checkbox">
	<label>8</label>
	<input type="checkbox">
	<label>16</label>
	<input type="checkbox">
	<label>32</label>
</fieldset>
</div>
<div class="widget">
<h3>Sort by:</h3>
<fieldset>
	<input checked type="checkbox">
	<label>Popularity</label>
	<input type="checkbox">
	<label>Date</label>
	<input type="checkbox">
	<label>Price</label>
</fieldset>
</div>
<div class="widget">
<h3>Condition:</h3>
<fieldset>
	<input checked type="checkbox">
	<label>New</label>
	<input type="checkbox">
	<label>Used</label>
</fieldset>
</div>
<div class="widget">
<h3>Price range:</h3>
<fieldset>
	<div id="price-range"></div>
</fieldset>
</div>


<div id="content">
					<section class="products">
					{% for product in products %}
						<article>
							<a href="product.html"><img src="{{product.imageURL}}" alt=""></a>
							<h3><a href="product.html">{{product.lot_no}}</a></h3>
							<h4><a href="product.html">${{product.price}}</a></h4>
							<a data-product="{{product.id}}" data-action="add" class="btn-add" href = "{% url 'add2' product.pk %}">Add to cart</a>
						</article>
					{% endfor %}
					</section>
				</div>

				{% block javascript %}
				<script>
					$(document).ready(function(){
						$('.limit input').attr('min','0.1');
						$('.limit input').attr('max','10');

					});
				</script>
				<script type="text/javascript">
					jQuery(function ($) {
						$(".image-checkbox").each(function () {
							if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
								$(this).addClass('image-checkbox-checked');
							}
							else {
								$(this).removeClass('image-checkbox-checked');
							}
						});
				
						$(".image-checkbox").on("click", function (e) {
							if ($(this).hasClass('image-checkbox-checked')) {
								$(this).removeClass('image-checkbox-checked');
								$(this).find('input[type="checkbox"]').first().removeAttr("checked");
							}
							else {
								$(this).addClass('image-checkbox-checked');
								$(this).find('input[type="checkbox"]').first().attr("checked", "checked");
							}
				
							e.preventDefault();
						});
					});

					jQuery(function ($) {
						$(".button-filter").each(function () {
							if ($(this).find('input[type="checkbox"]').first().attr("checked")) {
								$(this).addClass('button-filter-checked');
							}
							else {
								$(this).removeClass('button-filter-checked');
							}
						});
				
						$(".button-filter").on("click", function (c) {
							if ($(this).hasClass('button-filter-checked')) {
								$(this).removeClass('button-filter-checked');
								$(this).find('input[type="checkbox"]').first().removeAttr("checked");
							}
							else {
								$(this).addClass('button-filter-checked');
								$(this).find('input[type="checkbox"]').first().attr("checked", "checked");
							}
				
							c.preventDefault();
						});
					});
				</script>
				{% endblock %}
				