{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div id="slider">
		<ul>
			<li style="background-image: url({% static 'images/0.jpg' %})">
				<h3>Make your life better</h3>
				<h2>Genuine diamonds</h2>
				<a href="{% url 'search' %}" class="btn-more">Find Diamonds</a>
			</li>
			<li class="purple" style="background-image: url({% static 'images/01.jpg' %})">
				<h3>She will say “yes”</h3>
				<h2>engagement ring</h2>
				<a href="{% url 'search' %}" class="btn-more">Find Diamonds</a>
			</li>
			<li class="yellow" style="background-image: url({% static 'images/02.jpg' %})">
				<h3>You deserve to be beauty</h3>
				<h2>golden bracelets</h2>
				<a href="{% url 'search' %}" class="btn-more">Find Diamonds</a>
			</li>
		</ul>
	</div>
</div>
	<div class="container">
	 	<div id="body">
		<div class="container">
			<div class="last-products">
				<h2>Last added products</h2>
					<div class="row">
					<section class="products">
						{% for product in products %}
						<article>
							<img src="{{product.imageURL}}" alt="">
							<h3>{{product.lot_no}}</h3>
							<h4>${{product.price}}</h4>
							<a class="btn btn-outline-secondary add-btn update-cart" href = "{% url 'add' product.pk %}">Add to cart</a>
						</article>
						{% endfor %}
					</section>
					</div>
			</div>
		</div>
		</div>
	</div>
 			<!--<section class="quick-links">
				<article style="background-image: url(images/2.jpg)">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>Lorem ipsum</h4>
								<hr>
								<h3>Dolor sit amet</h3>
							</div>
						</div>
					</a>
				</article>
				<article class="red" style="background-image: url(images/3.jpg)">
					<a href="#" class="table">
						<div class="cell">
							<div class="text">
								<h4>consequatur</h4>
								<hr>
								<h3>voluptatem</h3>
								<hr>
								<p>Accusantium</p>
							</div>
						</div>
					</a>
				</article>
			</section> -->
{% endblock content %}